About:
  tabTitle: "Hakkında"
  releaseNotes: "Sürüm Notları"
  newUpdate: "Yeni Güncelleme"
  upToDate: "Atom Güncel!"
  checkingForUpdates: "Güncellemeler kontrol ediliyor..."
  checkUpdatesNow: "Şimdi kontrol et"
  automaticDownloadUpdates: "Güncellemeleri Otomatik İndir"
  restartInstall: "Yeniden başlat ve yükle"
  license: "Lisans"
  termsOfUse: "Kullanım Şartları"
  with: " ile "
  by: " by "
  andTheAwesome: "Ve harika "
  atomCommunity: "Atom Topluluğu"
